.dl__button{
	height: 33px;
  	border-radius: 3px;
  background: $color-base-blue;
  color: $color-base-off-white;

  &:hover{
	@extend .hover;
  }
}

.dl__reset{
	//background: $color-danger;
  //height: 24px;
  border-radius: 0;
  background: none;
  //border-right: 1px solid #efefef;
//   border: 1px solid $color-danger; 
  color: $color-danger;
  //margin: 4px 0;
  float: left;
  clear: both;
  //margin-left: 9px;
  padding-left: 18px;
  position: relative;
  width: 100%;
    line-height: 33px;
    text-align: right;
    padding-right: 6px;

  &:after{
	@include faPseudo($fa-var-trash-o,0,66px,0,auto);
	width: 18px;
	font-size: 14px;
	line-height: 33px;
    text-decoration: none;
  }

  &:hover{
	cursor: pointer;
    opacity: 0.7;
  }
}