.marketPage{
  .dl {
    &__filterGroupLabel > span {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 12px;
    }

    &__filterGroup {
      .r-ss-trigger {
        border: 1px solid $color-link;
      }

      &:after {
        color: $color-link;
      }
    }

    &__filterItem {
      .DateRangePickerInput {
        border: 1px solid $color-link;
      }

      label {
        color: $color-link;
        font-weight: bold;
      }
    }
  }
}