.dl{
    &__sortItem{
        list-style-type: none;
        // background: salmon;
        padding: 0 0 0 6px;
        position: relative;
        height: 24px;
        line-height: 24px;
        vertical-align: middle;
        background: #f9f9f9;
        border: 1px solid #efefef;
        overflow: hidden;
        padding-right: 24px;

        &:hover{
            @extend .hover;
        }

        >span{
            display: inline-block;
            width: 48%;
            font-size: 12px;
            font-weight: 700;
        }

        &--asc,
        &--desc,
        &--clear{
            display: inline-block;
            width: 24px !important;
            height: 24px;
            float: right;
            position: relative;

           &:after{
                @include faPseudo($fa-var-sort-alpha-desc,0,auto,auto,auto);
                line-height: 24px;
                font-size: 14px;
                padding-left: 3px;
                @include duration;
                transform: rotate(0deg);
                font-weight: 400;
                width: 100%;
                border-left: 1px solid #efefef;
                text-align: center;
                color: #777;
            }
        }

        &--asc{
            &:after{
                content : $fa-var-sort-alpha-asc;

                @include duration;
            }
        }

        &--clear{
          position: absolute;
          right: 0;
        
          &:after{
            content : $fa-var-times-circle-o;
            color: rgba($color-danger,0.6);
          }
      }
    }
}

.dl__filterGroup.sorting{
    .dl__filterItem{
        margin-bottom: 1px;
        label{
            padding-top: 0;
        }
    }
}