
.dl__customItem{
  $this : &;
  position: relative;
  z-index: 0;
  @extend .cf;

  a{
	color: $color-link;
	//position: relative;
  }

  &Check{
	display: inline-block;
	float: left;
	margin-top: 16px;

	// Commented out because we need to handle displaying for the checked state
	//input[type="checkbox"]{
	//  appearance: none;
	//  -webkit-appearance: none;
	//  background: none;
	//  border: none;
	//  border:1px solid $color-link;
	//  color: $color-link;
	//  width: 12px;
	//  height: 12px;
	//  border-radius: 2px;
	//}
  }
}