.dl__filterItem{
  position: relative;
  @extend .cf;
  z-index: 101;

	label{
	  display: block;
	  padding-top: 9px;
	  line-height: 1.75;
      color: #333;
	}

  &RangeClear{
	width: 18px;
	height: 18px;
	text-align :right;
	position: absolute;
	right: 24px;
	top: 10px;
	display: inline-block;

	a{
	  color: rgba($color-danger,0.6);
    text-decoration: underline !important;
    font-size: 12px;
	}

	&:hover{
	  @extend .hover;
	}
  }

  .DateInput{
	font-size: 11px;
	line-height: 9px;
	padding: 3px 8px;
	width: 43%;

	&--with-caret{
	  &:before{
		  top: 18px
	  }
	  &:after{
		  top: 20px;
		  transform:none;
	  }
	}
  }

  &Checkbox{
      color: #333;
      font-size: 12px;
      border-top: 1px solid #efefef;
      @extend .cf;

      input[type="checkbox"]{
          margin-right: 6px;
      }

      label{
        width: 50%;
        float: left;
      }
  }

  &Radio{
    label{
      padding-top: 0;
      display: inline-block;
      margin-right: 9px;
      font-size: 12px;
      opacity: 0.7;
    }
  }
}