/* Placeholders */

// @extend %btn;
%btn {
  padding: 10px;
  color:#fff;
  curser: pointer;
  border: none;
  shadow: none;
  font-size: 14px;
  width: 150px;
  margin: 5px 0;
  text-align: center;
  display: block;
}

