.exports{
  &__outer {
    padding: 11px 18px 18px 18px;
  }

  &__inner {
    h1 {
      font-size: 24px;
      color: $color-h-text-primary;
      border-bottom: 1px solid $color-border;
    }

    form{
      width: 50%;
      margin: 10% 0;
      position: relative;
      left: 50%;
      transform: translateX(-50%);

      input[type="checkbox"]{
        float: left;
        margin-right: 9px;
      }

      [type="submit"]{
        background: $color-base-blue;
        font-size: 14px;
      }
    }

    label{
      display: block;
      margin-bottom: 18px;
      font-size: 16px;

      small{
        font-size: 12px;
      }
    }
  }

  &__success{
    width: 50%;
    margin: 10% 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    h3{
      font-weight: 100;
      font-size: 32px;
      line-height: 1.75;
    }

    p{
      font-size: 16px;
      line-height: 1.25;
    }

    button{
      font-size: 14px;
      border: none;
      background: $color-base-light-blue;
      color: $color-base-white;
      margin-top: 32px;
      padding: 9px 64px;
      border-radius: 3px;

      &:hover{
        opacity: 0.7;
        cursor: pointer;
      }
    }

    em{
      font-style: italic;
      opacity: 0.8;
    }
  }
}