.exports{
  &__outer {
    padding: 11px 18px 18px 18px;
  }

  &__inner {
    h1 {
      font-size: 24px;
      color: $color-h-text-primary;
      border-bottom: 1px solid $color-border;
    }

    label{
      display: block;
    }
  }
}