.exports{
  &__outer {
    padding: 11px 18px 18px 18px;
  }

  &__inner {
    h1 {
      font-size: 24px;
      color: $color-h-text-primary;
      border-bottom: 1px solid $color-border;
    }

    form{
      width: 50%;
      margin: 10% 20%;

      input[type="checkbox"]{
        float: left;
        margin-right: 9px;
      }
    }

    label{
      display: block;
      margin-bottom: 18px;
      font-size: 16px;

      small{
        font-size: 12px;
      }
    }
  }
}