.dl__textItem{
  position: relative;

  a{
    color: $color-link;
    //position: relative;
    text-decoration: none;
  }

	&-item{
	  display: inline-block;
	  line-height: 1.2;
	  position: relative;
	  z-index: 1;
    overflow: hidden;
    width: 100%;
    // @extend .truncate;
    // word-break: keep-all;
    // white-space: pre-wrap !important;
    padding-left: 6px;
    padding-top: 12px;

    >span{
      word-break: break-all;
    }

	  &--copy{
      position: relative;
      z-index: 2;
      display: inline-block;
      width: 21px;
      height: 12px;

      &:after{
        content: $fa-var-copy;
        font-family: FontAwesome;
        font-size: 12px;
        color: $color-icon;
      }

      &:hover{
        cursor: pointer;
        opacity: 0.7;
      }
	  }
  }
  
  &Image{
    max-height: 24px;
    padding-left: 3px;
  }

}