.dl__textItem{
  position: relative;

  a{
    color: $color-link;
    //position: relative;
    text-decoration: none;
  }

	&-item{
	  display: flex;
      min-height: 35px;
	  position: relative;
	  z-index: 1;
      overflow: hidden;
      width: 100%;
      align-items: center;
      padding: 6px;

      >span{
        word-break: break-all;
      }

	  &--copy{
      position: relative;
      z-index: 2;
      display: inline-block;
      width: 21px;
      height: 12px;

      &:after{
        content: $fa-var-copy;
        font-family: FontAwesome;
        font-size: 12px;
        color: $color-icon;
      }

      &:hover{
        cursor: pointer;
        opacity: 0.7;
      }
    }
  }
  
  &Image{
    max-height: 24px;
    padding-left: 3px;
  }

}