.dl__listRow{//li
  border-bottom: 1px solid #efefef;
  padding-left: 6px;
//   border-left: 1px solid #efefef;
  white-space: nowrap;

  &:hover{
	background: darken(#fff,2%);
	cursor: pointer;
  }
}